<div style="margin-top: 8%" class="container border p-5">
  <h3 class="text-center mb-5">
    <i class="fa fa-gift fs-3 text-warning"></i> Promo/Coupon Code Management
  </h3>
  <div class="row">
    <div class="col-12 col-md-6 p-3">
      <div class="border p-3">
        <h5 class="text-center my-3">
          <i
            style="margin-right: 0.5%"
            class="fa fa-plus fs-5 text-Success"
          ></i>
          Create New Promo/Coupon Code
        </h5>

        <form [formGroup]="addCouponForm" (ngSubmit)="OnSubmit()">
          <div class="mb-3">
            <label for="CouponCode" class="form-label">Coupon Code</label>
            <input
              type="text"
              class="form-control"
              id="CouponCode"
              [ngClass]="{
                'is-invalid':
                  addCouponForm.get('CouponCode')?.touched &&
                  addCouponForm.get('CouponCode')?.invalid
              }"
              formControlName="CouponCode"
            />
            <div class="invalid-feedback">
              <div *ngIf="addCouponForm.get('CouponCode')?.errors?.required">
                Coupon Code is required
              </div>
              <div *ngIf="addCouponForm.get('CouponCode')?.errors?.minlength">
                Coupon Code should contain atleast 5 characters
              </div>
            </div>
          </div>
          <div class="mb-3">
            <label for="Discount" class="form-label">Discount Amount</label>
            <input
              type="number"
              class="form-control"
              id="Discount"
              [ngClass]="{
                'is-invalid':
                  addCouponForm.get('Discount')?.touched &&
                  addCouponForm.get('Discount')?.invalid
              }"
              formControlName="Discount"
            />
            <div class="invalid-feedback">
              <div>Discount Amount is required</div>
            </div>
          </div>
          <div class="d-grid gap-2 col-6 mx-auto">
            <button
              type="submit"
              [disabled]="addCouponForm.invalid"
              class="btn btn-success mb-3"
            >
              <i style="margin-right: 5%" class="fa fa-plus text-white"></i
              >Create Coupon
            </button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-12 col-md-6 p-3">
      <div class="border p-3">
        <h5 class="text-center my-3">
          <i class="fa fa-pencil-square-o fs-3 text-info"></i> Promo/Coupon
          Codes
        </h5>

        <table class="table table-hover">
          <thead>
            <tr class="table-success text-center">
              <th scope="col">Coupon Id</th>
              <th scope="col">Coupon Code</th>
              <th scope="col">Discout Amount</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let coupon of coupons" class="text-center">
              <th scope="row">{{ coupon.CouponId }}</th>
              <td>{{ coupon.CouponCode.toUpperCase() }}</td>
              <td>₹ {{ coupon.Discount }}</td>
              <td>
                <button
                  type="button"
                  class="btn btn-danger"
                  (click)="setCouponToBeDeleted(deleteModel, coupon)"
                >
                  Delete
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Model or alert before deleting -->
<!-- Button trigger modal -->
<ng-template #deleteModel let-modal>
  <div class="modal-dialog">
    <div class="modal-content pt-3">
      <div class="modal-body text-center">
        <h4 class="text-center">
          Coupon Code :
          {{
            couponToBeDeleted != null
              ? couponToBeDeleted.CouponCode.toUpperCase()
              : ""
          }}
        </h4>
        <p>Are you sure, you want to delete this coupon?</p>

        <button
          type="button"
          class="btn btn-secondary mx-3"
          (click)="unsetCouponToBeDeleted()"
        >
          Close
        </button>
        <button (click)="deleteCoupon()" type="submit" class="btn btn-danger">
          Delete
        </button>
      </div>
    </div>
  </div>
</ng-template>
