<div class="container">
  <div class="frame">
    <div class="nav">
      <ul class="links">
        <li class="signin-active">
          <a (click)="menuButtonClick()" class="btn">Sign in</a>
        </li>
        <li class="signup-inactive">
          <a (click)="menuButtonClick()" class="btn">Sign up </a>
        </li>
      </ul>
    </div>
    <div ng-app ng-init="checked = false">
      <form
        [formGroup]="loginForm"
        (ngSubmit)="login()"
        class="form-signin"
        action=""
        method="post"
        name="form"
      >
        <label for="username">Username</label>
        <input
          class="form-styling"
          type="text"
          name="username"
          placeholder=""
          formControlName="name"
        />

        <div
          class="alert"
          *ngIf="
            (loginForm.controls['name'].dirty ||
              loginForm.controls['name'].touched) &&
            loginForm.controls['name'].errors?.required
          "
        >
          Please enter a username
        </div>

        <label for="password">Password</label>
        <input
          class="form-styling"
          type="text"
          name="password"
          placeholder=""
          formControlName="password"
        />

        <div
          class="alert"
          *ngIf="
            (loginForm.controls['password'].dirty ||
              loginForm.controls['password'].touched) &&
            loginForm.controls['password'].errors?.required
          "
        >
          Password cannot be empty
        </div>

        <div
          *ngIf="
            loginForm.controls['name'].valid &&
            loginForm.controls['password'].valid
          "
          style="text-align: center"
        >
          <button type="submit" class="btn btn-primary">Sign in</button>
        </div>
      </form>
      <form
        [formGroup]="registerForm"
        (ngSubmit)="register()"
        class="form-signup"
        action=""
        method="post"
        name="form"
      >
        <label for="fullname">User Name</label>
        <input
          class="form-styling"
          type="text"
          name="fullname"
          placeholder=""
          formControlName="name"
        />

        <div
          class="alert"
          *ngIf="
            (registerForm.controls['name'].dirty ||
              registerForm.controls['name'].touched) &&
            registerForm.controls['name'].errors?.required
          "
        >
          Please enter a username
        </div>

        <label for="password">Password</label>
        <input
          class="form-styling"
          type="text"
          name="password"
          placeholder=""
          formControlName="password"
        />

        <div
          class="alert"
          *ngIf="
            (registerForm.controls['password'].dirty ||
              registerForm.controls['password'].touched) &&
            registerForm.controls['password'].errors?.required
          "
        >
          Password cannot be empty
        </div>

        <label for="address">Shipping Address</label>
        <input
          class="form-styling"
          type="text"
          name="address"
          placeholder=""
          formControlName="Address"
        />
        <div
          *ngIf="
            registerForm.controls['name'].valid &&
            registerForm.controls['password'].valid
          "
          style="text-align: center"
        >
          <button style="margin-top: 5%" type="submit" class="btn btn-primary">
            Sign up
          </button>
        </div>
      </form>
      <div class="success">
        <svg
          width="270"
          height="270"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 60 60"
          id="check"
          ng-class="checked ? 'checked' : ''"
        >
          <path
            fill="#ffffff"
            d="M40.61,23.03L26.67,36.97L13.495,23.788c-1.146-1.147-1.359-2.936-0.504-4.314 c3.894-6.28,11.169-10.243,19.283-9.348c9.258,1.021,16.694,8.542,17.622,17.81c1.232,12.295-8.683,22.607-20.849,22.042 c-9.9-0.46-18.128-8.344-18.972-18.218c-0.292-3.416,0.276-6.673,1.51-9.578"
          />
        </svg>
        <div class="successtext">
          <p>Thanks for signing up!</p>
        </div>
      </div>
    </div>
    <div class="forgot"></div>>
  </div>

</div>
