@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");
.body{
    margin-top:100px;
    background:#F0F8FF;
    padding-top: 30px;
    padding-bottom: 100px;
    padding-left: 10%;
    padding-right: 10%;
    }
h2 {
    padding-top: 20px;
    color: rgb(86, 129, 247);
    font-size:4em;
    font-weight: 300;
      }
.carditem{
    display: flex;
    justify-content: center;
}
i{
    margin-right: 8px;
}
a{
    text-decoration: none;
}
a:hover{
    font-size: larger;
}
    