<div class="container col-xxl-8 px-4 py-5 mt-5">
	<div class="row flex-lg-row-reverse align-items-center g-5 py-5">
		<div class="col-lg-6">
			<h2 class="display-5 fw-bold lh-1 mb-3">Get up to 50% off</h2>
			<p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptas deleniti tempora blanditiis provident magni vero doloremque facere, incidunt necessitatibus delectus?</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start">
				<button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Show Now</button>
			</div>
		</div>
		<div class="col-10 col-sm-8 col-lg-6">
			<!-- here comes the book images -->
	</div>
</div>