<div class="container col-xxl-8 px-4 py-5 mt-5" style="height: 600px;display:flex;">
	<div class="row flex-lg-row-reverse align-items-center  py-5">
		<div class="col-lg-8" style="padding: 40px;background: rgba(0, 0, 0, 0.041);">
			<h2 class="display-5 fw-bold lh-1 mb-3">Get up to 50% off</h2>
			<p class="lead">When it comes to searching for books, there is only one place to turn to – Just Read! . We are India’s largest online book store and rightly so. Having served some of the best in the industry, we are your one stop solution for all your book needs.</p>
			<div class="d-grid gap-2 d-md-flex justify-content-md-start">
				<button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Show Now</button>
			</div>
		</div>
		<div class="col-10 col-sm-8 col-lg-6">
			<!-- here comes the book images -->
	</div>
</div>