<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-white py-4 fixed-top">
  <div class="container">
    <a
      class="
        navbar-brand
        d-flex
        justify-content-between
        align-items-center
        order-lg-0
      "
      href="/"
    >
      <i class="fa fa-book fs-3 text-success"></i>
      <span class="text-uppercase fw-lighter ms-2">Just Read</span>
    </a>

    <div class="order-lg-2 nav-btns">
      <button
        *ngIf="
          accountService.isLoggedIn() &&
          accountService.getCurrentUser()?.role === 'Admin'
        "
        routerLinkActive="active"
        routerLink="/add-coupon"
        type="button"
        class="btn position-relative"
      >
        <img
          src="https://img.icons8.com/material-outlined/30/000000/cutting-coupon.png"
        />
      </button>
    </div>

    <div class="order-lg-2 nav-btns">
      <button
        *ngIf="
          accountService.isLoggedIn() &&
          accountService.getCurrentUser()?.role === 'Admin'
        "
        routerLinkActive="active"
        routerLink="/add-book"
        type="button"
        class="btn position-relative"
      >
        <img
          src="https://img.icons8.com/fluency-systems-filled/24/000000/add-book.png"
        />
      </button>

      <button
        routerLinkActive="active"
        routerLink="/cart"
        type="button"
        class="btn position-relative"
      >
        <i class="fa fa-shopping-cart fs-3"></i>
        <span
          class="
            position-absolute
            top-0
            start-100
            translate-middle
            badge
            bg-success
            fs-9
          "
          >{{ cartService.getContent().BookList.length }}</span
        >
      </button>
      <button
        type="button"
        class="btn position-relative mx-3"
        [routerLink]="'/wishlist'"
      >
        <i class="fa fa-heart fs-4"></i>
        <span
          class="
            position-absolute
            top-0
            start-100
            translate-middle
            badge
            bg-success
            fs-9
          "
          >{{ wishListService.bookSet.size }}</span
        >
      </button>
    </div>

    <button
      class="navbar-toggler border-0"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navMenu"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse order-lg-1" id="navMenu">
      <ul class="navbar-nav mx-auto text-center">
        <li class="nav-item px-2 py-2 border-0">
          <a
            class="nav-link text-uppercase text-dark"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            aria-current="page"
            routerLink="/"
            >home</a
          >
        </li>
        <li class="nav-item px-2 py-2 border-0">
          <a
            class="nav-link text-uppercase text-dark"
            routerLinkActive="active"
            routerLink="/books"
            >Books</a
          >
        </li>
        <li class="nav-item px-2 py-2 border-0">
          <a
            class="nav-link text-uppercase text-dark"
            routerLinkActive="active"
            routerLink="/categories"
            >categories</a
          >
        </li>
        <li
          *ngIf="accountService.isLoggedIn()"
          class="nav-item px-2 py-2 border-0"
        >
          <a
            class="nav-link text-uppercase text-dark"
            routerLinkActive="active"
            routerLink="/orders"
            >orders</a
          >
        </li>
        <li class="nav-item px-2 py-2 border-0">
          <a
            class="nav-link text-uppercase text-dark"
            routerLinkActive="active"
            routerLink="/about"
            >About US</a
          >
        </li>
        <li class="nav-item px-2 py-2 border-0">
          <a
            class="nav-link text-uppercase text-dark"
            routerLinkActive="active"
            routerLink="/contact"
            >Contact</a
          >
        </li>
        <li
          *ngIf="!accountService.isLoggedIn(); else logoutLink"
          class="nav-item px-2 py-2 border-0"
        >
          <a
            class="nav-link text-uppercase text-dark"
            routerLinkActive="active"
            routerLink="/login"
            >signin/signup</a
          >
        </li>
        <ng-template #logoutLink>
          <li class="nav-item px-2 py-2 border-0">
            <a
              class="nav-link text-uppercase text-dark"
              routerLinkActive="active"
              (click)="logout()"
              routerLink="/"
              >logout</a
            >
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
<!-- end of navbar -->
