<section class="add-new-book-content">
  <div class="container">
    <form [formGroup]="addBookForm" (ngSubmit)="OnSubmit()">
      <div class="row fw-bold">
        <h3 class="text-center m-3">New Books Entry</h3>
        <div class="col-12 col-md-6">
          <div class="form-group mb-3">
            <label for="Title">Book Title</label>
            <input
              type="text"
              id="Title"
              class="form-control"
              formControlName="Title"
              [ngClass]="{
                'is-invalid':
                  addBookForm.get('Title')?.touched &&
                  addBookForm.get('Title')?.invalid
              }"
            />
            <div class="invalid-feedback">
              <div>Book Name is required</div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="authorName">Author Name</label>
            <input
              type="text"
              class="form-control"
              id="authorName"
              formControlName="Author"
              [ngClass]="{
                'is-invalid':
                  addBookForm.get('Author')?.touched &&
                  addBookForm.get('Author')?.invalid
              }"
            />
            <div class="invalid-feedback">
              <div>Author Name is required</div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="ISBN">ISBN Number</label>
            <input
              type="text"
              class="form-control"
              id="ISBN"
              formControlName="ISBN"
              [ngClass]="{
                'is-invalid':
                  addBookForm.get('ISBN')?.touched &&
                  addBookForm.get('ISBN')?.invalid
              }"
            />
            <div class="invalid-feedback">
              <div>ISBN Number is required</div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="Year">Published Year</label>
            <input
              type="number"
              class="form-control"
              id="Year"
              min="1970"
              max="{{ currentYear }}"
              formControlName="Year"
              [ngClass]="{
                'is-invalid':
                  addBookForm.get('Year')?.touched &&
                  addBookForm.get('Year')?.invalid
              }"
            />
            <div class="invalid-feedback">
              <div>Year is required</div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="Position">Position</label>
            <input
              type="number"
              class="form-control"
              id="Position"
              formControlName="Position"
              [ngClass]="{
                'is-invalid':
                  addBookForm.get('Position')?.touched &&
                  addBookForm.get('Position')?.invalid
              }"
            />
            <div class="invalid-feedback">
              <div>Book Position is required</div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="CategoryId">Category</label>
            <select
              class="form-control"
              id="CategoryId"
              formControlName="CategoryId"
              [ngClass]="{
                'is-invalid':
                  addBookForm.get('CategoryId')?.touched &&
                  addBookForm.get('CategoryId')?.invalid
              }"
            >
              <option value="" disabled selected>choose a Category</option>

              <option
                *ngFor="let category of categories"
                type="number"
                value="{{ category.CategoryId }}"
              >
                {{ category.Name }}
              </option>
            </select>
            <div class="invalid-feedback">
              <div>Book Category is required</div>
            </div>
          </div>

          <div class="form-group mb-3">
            <label for="Status">Status</label>
            <select
              id="Status"
              class="form-control"
              formControlName="Status"
              [ngClass]="{
                'is-invalid':
                  addBookForm.get('Status')?.touched &&
                  addBookForm.get('Status')?.invalid
              }"
            >
              <option hidden></option>
              <option value="1">Active</option>
              <option value="0">Inactive</option>
            </select>
            <div class="invalid-feedback">
              <div>Status of book is required</div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="Price">Book Price</label>
            <input
              type="number"
              class="form-control"
              id="Price"
              formControlName="Price"
              [ngClass]="{
                'is-invalid':
                  addBookForm.get('Price')?.touched &&
                  addBookForm.get('Price')?.invalid
              }"
            />
            <div class="invalid-feedback">
              <div>Book Price is required</div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="Qty">Book Quantity</label>
            <input
              type="number"
              class="form-control"
              id="Qty"
              formControlName="Qty"
              [ngClass]="{
                'is-invalid':
                  addBookForm.get('Qty')?.touched &&
                  addBookForm.get('Qty')?.invalid
              }"
            />
            <div class="invalid-feedback">
              <div>Book Quantity is required</div>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form-group mb-3">
            <label for="Featured">Do you want to feature this book?</label>
            <select
              id="Featured"
              class="form-control"
              formControlName="Featured"
              [ngClass]="{
                'is-invalid':
                  addBookForm.get('Featured')?.touched &&
                  addBookForm.get('Featured')?.invalid
              }"
            >
              <option hidden></option>
              <option value="1">Yes, I want to feature this book</option>
              <option value="0">No, I don't want to feature this book</option>
            </select>
            <div class="invalid-feedback">
              <div>This field is required</div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="Description">Description</label>
            <textarea
              class="form-control"
              id="Description"
              rows="5"
              formControlName="Description"
              [ngClass]="{
                'is-invalid':
                  addBookForm.get('Description')?.touched &&
                  addBookForm.get('Description')?.invalid
              }"
            ></textarea>
            <div class="invalid-feedback">
              <div>This field is required</div>
            </div>
          </div>
          <div class="form-group mb-3">
            <label for="Image">Book Cover Image</label>
            <input
              *ngIf="imageSrc === ''; else remove"
              type="file"
              class="form-control-file btn"
              id="Image"
              (change)="onFileChange($event)"
              [ngClass]="{
                'is-invalid': addBookForm.get('Image')?.invalid
              }"
            />
            <div class="invalid-feedback">
              <div>Please upload an image of format: png, jpg or jpeg</div>
            </div>
            <ng-template #remove>
              <button class="btn delete" (click)="removeFile()">
                <i class="fa fa-trash"></i>
              </button>
            </ng-template>
          </div>

          <div id="uploadedImage">
            <img
              *ngIf="imageSrc !== ''"
              src="{{ imageSrc }}"
              alt="uploadingImage"
              width="300px"
              height="300px"
              style="
                object-fit: cover scale-down;
                margin: 0 auto;
                display: block;
              "
            />
          </div>
        </div>
      </div>

      <div style="display: block; margin: 0 auto">
        <button
          class="btn btn-primary mt-5 px-5 py-2"
          style="display: block; margin: 0 auto"
          type="submit"
          *ngIf="!addBookForm.invalid"
        >
          Submit
        </button>
      </div>
    </form>
  </div>
</section>
