<div class="container-fluid" style="margin-top: 100px">
  <div class="row flex-nowrap">
    <div
      class="col-auto col-md-3 col-xl-2 px-sm-2 px-0"
      style="background-color: rgb(230, 212, 230)"
    >
      <div
        class="
          d-flex
          flex-column
          align-items-center
          px-3
          pt-2
          text-white
          min-vh-100
        "
      >
        <img
          src="assets/images/search_books.png"
          alt="img_book"
          class="img-fluid"
        />
        <span class="fs-5 d-none d-sm-inline fancy">Search by : </span>

        <ul
          class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center"
          id="menu"
        >
          <li class="nav-item">
            <app-search-bar (getBooks)="setBooks($event)"></app-search-bar>
          </li>
        </ul>
      </div>
    </div>
    <div class="col py-3">
      <app-bookcard-list [bookList]="books"> </app-bookcard-list>
    </div>
  </div>
</div>
