@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap");

.jumbotron {
  margin-top: 100px;
  height: 300px;
  display: flex;
  align-items: center;
  background-color: blanchedalmond;
  background: url("/assets/images/wishlist_cover.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 85%;
}

h1 {
  padding-top: 20px;
  color: #fff;
  font-size: 5em;
}

.jumbotron p {
  color: #fff;
  font-size: 2em;
}

.remove-book,
img {
  cursor: pointer;
}

h6 {
  margin: 0px 0px 30px 0px;
  font-size: 2em;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}
h6:before,
h6:after {
    content: '';
    border-top: 2px solid;
    margin: 0 30px 0 0;
    flex: 1 0 20px;
}

h6:after {
    margin: 0 0 0 30px;
}

.product-details,
.logged-out-text {
  font-family: "Manrope", sans-serif;
}

.content-list {
  padding: 5% 0;
}

.empty-list {
  padding-bottom: 20%;
  padding-top: 10%;
}

.book-title {
  font-size: x-large;
  font-weight: bold;
}

.logged-out-text {
  text-align: center;
  padding: 20% 0;
}

.logged-out-text h2 {
  color: rebeccapurple;
  font-weight: bolder;
  margin-bottom: 2%;
}
