<div class="container-fluid" style="margin-top: 100px;">
    <div class="row flex-nowrap" >
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0" style="background-color: rgb(240, 240, 240);" >
            <div class="d-flex flex-column align-items-center  px-3 pt-2 text-white min-vh-100">     
                <img style="margin-top: 20px;"
                src="assets/images/bookshelf.png"
                alt="img_book"
                class="img-fluid" 
              /> 
              <h2 class="shadowed">Categories</h2>    
              <div class="menubody">
                <ul>
                    <li *ngFor='let item of categories'><a [routerLink]="" (click)="onClick(item)" data-text={{item}}>{{item}}</a><hr></li>
                
                  </ul>
                  
              </div>  
                    
            </div>
        </div>
        <div class="col py-3">
            <!-- Content area... -->
            <app-bookcard-list [bookList]="books"> </app-bookcard-list>
           
            
        </div>
    </div>
</div>