<div class="m-0 p-0">
	<div
	style="background: url(https://thebiggametours.com/images/contact-us-page-banner.jpg); height: 350px;
	padding: 100px;">
	<h2 class="fs-1 fw-bold text-white text-center mt-5">Get in touch</h2>
		<p class="text-white text-center">Want to get in touch? We'd love to hear from you.<br> Here's how you can reach
			us..</p>
	</div>
	
	<div class="container ">
		

		<div class="row mt-5">
			<div class="col-12 col-md-6   p-3 text-center">
				<div class="border  p-5 bg-white">
					<i class="fa fa-phone fs-1 fw-bold"></i> <br>
					<h4>Talk to Sales</h4>
					<p>Interseted in Premium Membership? Just pick up the phone to chat with member of our sales team</p>
					<h5 class="text-primary mt-5">+91 987-864-8989</h5>
				</div>


			</div>
			<div class="col-12 col-md-6  p-3 text-center">
				<div class="border p-5 bg-white">
					<i class="fa fa-comments fs-1 fw-bold"></i> <br>
					<h4>Contact Customer Support</h4>
					<p>Sometimes you need a little help from your friends. Or a Bookstore Support Rep. Don't Worry ..we're here
						for you</p>
					<button class="btn btn-danger px-5 py-3 mt-1">Contact Support</button>
				</div>


			</div>
			<div class="col-12 col-md-6 p-3 ">
				<div>
					<iframe
						src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15716.752937136425!2d76.34716306599347!3d10.001304960894872!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b080c915bd363e1%3A0xd5f8938508ad8488!2sSOTI!5e0!3m2!1sen!2sin!4v1635682395964!5m2!1sen!2sin"
						width="100%" height="400px"></iframe>

				</div>

			</div>
			<div class="col-12 col-md-6 p-3">
				<h5 class="fw-bold fs-2 text-primary text-center mb-5">Contact Us</h5>
					<div class="row mt-5">
						<div class="col-2 offset-3 my-3 text-center">
							<i class = "fa fa-map fs-4 text-muted  "></i>
						</div>
						<div class="col-6  ">
							<p style="font-size: 20px;">Noel Focus 4th floor, Seaport - Airport Road Chittethukara, CSEZ, PO, Kochi, Kerala 682037</p>
							
						</div>
						<div class="col-2 offset-3 mt-3  text-center">
							<i class = "fa fa-envelope fs-4 text-muted  "></i>
						</div>
						<div class="col-6  mt-3">
							<p style="font-size: 20px;">justread.support@gmail.com</p>
							
						</div>
						
						<div class="col-2 offset-3 mt-3  text-center">
							<i class = "fa fa-phone fs-4 text-muted  "></i>
						</div>
						<div class="col-6 mt-3  ">
							<p style="font-size: 20px;">	+91 786 676 2368</p>
							
						</div>
						
					</div>
			</div>

		</div>

	</div>
</div>